<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".crash.CrashReporterInitProvider"
            android:authorities="${applicationId}.crashreporterinitprovider"
            android:exported="false"
            android:initOrder="101" />
    </application>

</manifest>