name: Build

on:
  pull_request:
  push:
    paths-ignore:
      - ".github/workflows/**"
      - "**.md"
      - "version_map.json"
  workflow_dispatch:

jobs:
  release_build:
    if: ${{ github.repository_owner == 'FCL-Team' && github.event_name != 'pull_request' && !startsWith(github.ref, 'refs/tags/') }}
    name: Build for ${{matrix.arch}}
    strategy:
      matrix:
        arch: ["all", "arm", "arm64", "x86", "x86_64"]
      fail-fast: false
    env:
      FCL_KEYSTORE_PASSWORD: ${{ secrets.FCL_KEYSTORE_PASSWORD }}
      CURSE_API_KEY: ${{ secrets.CURSE_API_KEY }}
      OAUTH_API_KEY: ${{ secrets.OAUTH_API_KEY }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17
          cache: "gradle"

      - name: Build ${{matrix.arch}} .apk
        run: |
          chmod +x gradlew
          ./gradlew assemblerelease -Darch=${{ matrix.arch }} --no-daemon

      - name: Upload apk
        if: startsWith(github.ref, 'refs/heads/')
        uses: actions/upload-artifact@v4
        with:
          name: app-${{matrix.arch}}
          path: FCL/build/outputs/apk/release/*
        #  retention-days: 1

  debug_build:
    if: ${{ (github.repository_owner != 'FCL-Team' || github.event_name == 'pull_request') && !startsWith(github.ref, 'refs/tags/') }}
    name: Build for ${{matrix.arch}}
    strategy:
      matrix:
        arch: ["all", "arm", "arm64", "x86", "x86_64"]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17
          cache: "gradle"

      - name: Build ${{matrix.arch}} .apk
        run: |
          chmod +x gradlew
          ./gradlew assemblefordebug -Darch=${{ matrix.arch }} --no-daemon

      - name: Upload apk
        uses: actions/upload-artifact@v4
        with:
          name: app-${{matrix.arch}}
          path: FCL/build/outputs/apk/fordebug/*
